


<div class="footer_section layout_padding margin_top_90">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h4 class="about_text">İletişim & Ulaşım</h4>
                <div class="location_text"><img src="~/tema/images/map-icon.png"><span class="padding_left_15">Turgutlu / MANİSA</span></div>
                <div class="location_text"><img src="~/tema/images/call-icon.png"><span class="padding_left_15">+90 545 454 05 12</span></div>
                <div class="location_text"><img src="~/tema/images/mail-icon.png"><span class="padding_left_15">info@cbucoin.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="about_text">Uygulama Hakkında</h4>
                <p class="dolor_text">CBUCoin, MCBU onaylı bir e-wallet olmak üzere tasarlanmıştır. Sistemdeki mevcut coinleri kontrol etme yükümlülüğü yoktur.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="about_text">Linkler</h4>
                    <a class="dolor_text" href="/Home/Index">Ana Sayfa</a>
                    <a class="dolor_text" href="/ObjectRecycle/Index/">Piyasa</a>
                    <a class="dolor_text" href="/Service/Index/">Carbon Coin Madenciliği</a>
                    <a class="dolor_text" href="/About/Index/">Ekibimiz</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="about_text">Bize Ulaş</h4>
                <p class="dolor_text">Soru, görüş ve önerilerinizi dinlemek için sabırsızlanıyoruz!</p>
                <div class="subscribe_bt"><a href="/Contact/Index/">Tıklayın</a></div>

            </div>
        </div>
        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="copyright_text">Copyright 2022 © All Right Reserved By JupyterFindex, CBUCoin</div>
        </div>
        <!-- copyright section end -->
    </div>
</div>
<!--footer section end -->
<!-- Javascript files-->
<script src="~/tema/js/jquery.min.js"></script>
<script src="~/tema/js/popper.min.js"></script>
<script src="~/tema/js/bootstrap.bundle.min.js"></script>
<script src="~/tema/js/jquery-3.0.0.min.js"></script>
<script src="~/tema/js/plugin.js"></script>
<!-- sidebar -->
<script src="~/tema/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/tema/js/custom.js"></script>
<!-- javascript -->
<script src="~/tema/js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>