
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogined.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="what_we_do_section layout_padding">
        <div class="container">
            <h1 class="what_taital">CBUCoin E-Wallet</h1>
            <p class="what_text">Bu sayfada "RC Coin Alış & Satış", "Profil Görüntüleme", "Coin Transfer", "Coin Mining", "Carbon Coin Kazan" ve "İşlem Geçmişi" işlemlerini gerçekleştirebileceksini</p>
            <div class="what_we_do_section_2">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-1.png"></div>
                            <h3 class="accounting_text">RC Coin Alış & Satış</h3>
                            <p class="lorem_text">Carbon Coinleri (C), Recycle Coinlere (RC) çevir. </p>
                            <div class="moremore_bt_1"><a href="/Service/Convert/">Coin Dönüştür</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-2.png"></div>
                            <h3 class="accounting_text">Profil</h3>
                            <p class="lorem_text">Kullanıcı profili ve e-cüzdan bilgilerini görüntüle.</p>
                            <div class="moremore_bt_1"><a href="/Service/Profile/">Profile Gir</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-3.png"></div>
                            <h3 class="accounting_text">Coin Transfer</h3>
                            <p class="lorem_text">Recycle Coinlerinizi (RC) başka kullanıcılarına transfer edin.</p>
                            <div class="moremore_bt_1"><a href="/Service/Transfer/">Transfer </a></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-3.png"></div>
                            <h3 class="accounting_text">Coin Mining</h3>
                            <p class="lorem_text">Recycle Coin (RC) mining edin.</p>
                            <div class="moremore_bt_1"><a href="/Service/DoMining/">Mining </a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-4.png"></div>
                            <h3 class="accounting_text">Carbon Coin Kazan</h3>
                            <p class="lorem_text">Geri dönüştürülebilir malzemeler ile Carbon Coin (C) kazanın.</p>
                            <div class="moremore_bt_1"><a href="/Service/ListObjectsRecycle/">Read More </a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/tema/images/icon-4.png"></div>
                            <h3 class="accounting_text">İşlem Geçmişi</h3>
                            <p class="lorem_text">Blockchain sistemimiz üzerinden gerçekleşen işlemleri görün.</p>
                            <div class="moremore_bt_1"><a href="/Service/TransactionHistory/">İncele</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


