@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")
<body>
    @await Html.PartialAsync("/Views/LayoutPartial/AdminHeader.cshtml")
    @RenderBody()

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
</body>
</html>
