@using EntityLayer.Concrete
@model List<ObjectRecycle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<head>

    <title>Object Recycle</title>

</head>
<body>


    <!-- TradingView Widget BEGIN -->
    <div>
        <div style="margin:auto" class="tradingview-widget-container">
            <div style="margin:auto" class="tradingview-widget-container__widget"></div>
            <div style="margin:auto" class="tradingview-widget-copyright"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
              {
              "width": 1200,
              "height": 750,
              "defaultColumn": "overview",
              "screener_type": "crypto_mkt",
              "displayCurrency": "USD",
              "margin": "auto",
              "colorTheme": "light",
              "locale": "en"
            }
            </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
</body>