

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")
<body>

    @await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")


    <!--project section start -->
    <div style="padding:20px;" class="project_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="project_main">
                        <h1 class="services_taital">CBUCoin'e Hoş Geldiniz...</h1>
                        <p class="services_text">Sayfamız üzerinden güncel kurları takip edebilir, aynı zamanda Carbon Coin madenciliği yapıp Recycle Coin kazanabilirsiniz!</p>
                        <div class="moremore_bt"><a href="/ObjectRecycle/Index/">Canlı Piyasa</a></div>
                        <div class="moremore_bt"><a href="/Service/Index/">Carbon Coin</a></div>
                        <div class="image_6"><img src="~/tema/images/img-6.png"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="images_main">
                        <div class="images_left">
                            <div class="container_1">
                                <img src="~/tema/images/img-14.jpeg" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text"><img src="~/tema/images/search-icon.png"></div>
                                    <h2 class="fact_text">Gezinmek İçin Tıklayın!</h2>
                                </div>
                            </div>
                            <div class="container_1">
                                <img src="~/tema/images/img-3.png" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text"><img src="~/tema/images/search-icon.png"></div>
                                    <h2 class="fact_text">Gezinmek İçin Tıklayın!</h2>
                                </div>
                            </div>
                        </div>
                        <div class="images_right">
                            <div class="container_1">
                                <img src="~/tema/images/img-15.jpeg" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text"><img src="~/tema/images/search-icon.png"></div>
                                    <h2 class="fact_text">Gezinmek İçin Tıklayın!</h2>
                                </div>
                            </div>
                            <div class="container_1">
                                <img src="~/tema/images/img-5.png" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text"><img src="~/tema/images/search-icon.png"></div>
                                    <h2 class="fact_text">Gezinmek İçin Tıklayın!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project_section_2 layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/tema/images/icon-3.png"></div>
                    <h3 class="accounting_text_1">5000+</h3>
                    <p class="yers_text">Son Bir Yılda Yeni Trader</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/tema/images/icon-4.png"></div>
                    <h3 class="accounting_text_1">320+</h3>
                    <p class="yers_text">Anlaşmalı Olduğumuz Coin</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/tema/images/icon-2.png"></div>
                    <h3 class="accounting_text_1">12500+</h3>
                    <p class="yers_text">Memnun Trader</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/tema/images/icon-1.png"></div>
                    <h3 class="accounting_text_1">150+</h3>
                    <p class="yers_text">Kripto Para İşlemi</p>
                </div>
            </div>
        </div>
    </div>
    <!--project section end -->
    <!--client section start -->
    <div class="client_section layout_padding">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 class="what_taital">MÜŞTERİLERİMİZ NE DİYOR?</h1>
                        <div class="client_section_2 layout_padding">
                            <ul>
                                <li><img src="~/tema/images/round-1.png" class="round_1"></li>
                                <li><img style="height:150px; width:150px; border-radius:40px;" src="~/tema/images/img-16.jpg" class="image_11"></li>
                                <li><img src="~/tema/images/round-2.png" class="round_2"></li>
                            </ul>
                            <p class="dummy_text">CBUCoin, anlık piyasayı ve Recycle Coin ile Carbon Coin değerlerini canlı takip edebildiğim en iyi web sitesi.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="what_taital">MÜŞTERİLERİMİZ NE DİYOR?</h1>
                        <div class="client_section_2 layout_padding">
                            <ul>
                                <li><img src="~/tema/images/round-1.png" class="round_1"></li>
                                <li><img style="height:150px; width:150px; border-radius:40px;" src="~/tema/images/img-17.jpeg" class="image_11"></li>
                                <li><img src="~/tema/images/round-2.png" class="round_2"></li>
                            </ul>
                            <p class="dummy_text">CBUCoin sayesinde dünya temiz bir hale geliyor! Geri dönüşüm en önemli adımları burada atılıyor...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="what_taital">MÜŞTERİLERİMİZ NE DİYOR?</h1>
                        <div class="client_section_2 layout_padding">
                            <ul>
                                <li><img src="~/tema/images/round-1.png" class="round_1"></li>
                                <li><img style="height:150px; width:150px; border-radius:40px;" src="~/tema/images/img-18.jpeg" class="image_11"></li>
                                <li><img src="~/tema/images/round-2.png" class="round_2"></li>
                            </ul>
                            <p class="dummy_text">CBUCoin'in Carbon Coin madenciliği sayesinde hayallerime kavuşabildim. Hayallerine kavuşmak isteyen herkes için tavsiye edebileceğim en esnek imkanları sunan bir web sitesi...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--client section end -->

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
</body>
</html>
