@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<head>

    <title>About</title>
    <style>
        .profil {
            border-radius: 360px;
            border-style: solid;
            border-color: #1B5A8D;
        }

        .col-sm-3 {
        }
    </style>

</head>

<div class="team_section layout_padding">
    <div class="container">
        <h1 class="what_taital">JupyterFindex Team</h1>
        <p class="what_text_1">CBUCoin ekibine katılın ve geleceğe adım atın.</p>
        <p class="what_text_1">Ekibimize ulaşmak isterseniz işte sosyal medya hesaplarımız!</p>
        <div class="team_section_2 layout_padding">
            <div class="row">
                <div class="col-sm-3">
                    <img src="~/tema/images/alperen.jpeg" class="profil">
                    <p class="readable_text">Alperen Tan</p>
                    <p class="readable_text_1">Follow Us</p>
                    <div class="social_icon">
                        <ul>
                            <li><a target="_blank" href="https://github.com/lprtan"><img style="inline-size:25px;" src="~/tema/images/github.png"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/alperentann/"><img src="~/tema/images/linkedin-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="~/tema/images/bugra.jpg" class="profil">
                    <p class="readable_text">Buğra Bilge Çelik</p>
                    <p class="readable_text_1">Follow Us</p>
                    <div class="social_icon">
                        <ul>
                            <li><a target="_blank" href="https://github.com/bugrabilge"><img style="inline-size:25px;" src="~/tema/images/github.png"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/bugrabilgecelik/"><img src="~/tema/images/linkedin-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="~/tema/images/furkan.jpg" class="profil">
                    <p class="readable_text">Furkan Eralp Kahyaoğlu</p>
                    <p class="readable_text_1">Follow Us</p>
                    <div class="social_icon">
                        <ul>
                            <li><a target="_blank" href="https://github.com/kahyaoglou"><img style="inline-size:25px;" src="~/tema/images/github.png"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/furkaneralpkahyaoglu/"><img src="~/tema/images/linkedin-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="~/tema/images/ulas.jpg" class="profil">
                    <p class="readable_text">Ulaş Can Çiçek</p>
                    <p class="readable_text_1">Follow Us</p>
                    <div class="social_icon">
                        <ul>
                            <li><a target="_blank" href="https://github.com/ulascc"><img style="inline-size:25px;" src="~/tema/images/github.png"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/ulascancicek/"><img src="~/tema/images/linkedin-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

